html,
body {
    height: 100%;
    margin: 0;
    background-color: black;
    color: white;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}